

<!-- Footer -->
<footer class="text-center text-white footer mb-0">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="http://twitter.com/emlegweak" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="http://linkedin.com/in/emlegweak" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="http://github.com/emlegweak" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text 
        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>-->
        <!-- Section: Text -->

        <!-- Section: Links -->
    <% if(typeof user !== 'undefined' && user.isAdmin === true){ %> 
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="footer-col-lf text-center">
                    <h5 class="text-uppercase">QUICK LINKS</h5>

                    <ul class="list-unstyled mb-2">
                        <li>
                            <a href="/resource/resource-dashboard" class="text-white">Resource Dashboard</a>
                        </li>
                        <li>
                            <a href="/resources" class="text-white">Resource Feed</a>
                        </li>
                        <li>
                        <!--<a href="#!" class="text-white">Counselor Chat</a>-->
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <% } %> 
    <!-- Grid container -->
    <% if(typeof user !== 'undefined' && user.isAdmin === false){ %> 
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="footer-col-rt col-md-6">
                    <h5 class="text-uppercase">QUICK LINKS</h5>

                    <ul class="list-unstyled mb-2">
                        <li>
                            <a href="/dashboard" class="text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="resources" class="text-white">Resources</a>
                        </li>
                        <li>
                        <!--<a href="#!" class="text-white">Counselor Chat</a>-->
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="footer-col-lf col-md-6">
                    <h5 class="text-uppercase">ABOUT mindFULL</h5>

                    <ul class="list-unstyled mb-2">
                        <li>
                            <a href="/about" class="text-white">About</a>
                        </li>
                        <li>
                            <a href="https://github.com/emlegweak/mindFULL" class="text-white">Code Base</a>
                        </li>
                      
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <% }else{ %>
         <section class="">
                <!--Grid column-->
                <div class="footer-col-lf text-center">
                    <h5 class="text-uppercase">ABOUT mindFULL</h5>

                    <ul class="list-unstyled mb-2">
                        <li>
                            <a href="/about" class="text-white">About</a>
                        </li>
                        <li>
                            <a href="https://github.com/emlegweak/mindFULL" class="text-white">Code Base</a>
                        </li>
                      
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
        <% } %> 
    <!-- Copyright -->
    <div class="text-center p-3 mb-0" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://emilyarmstrong.me">Emily Armstrong</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->