<%- include('partials/header') -%>
    <main>
    <div class="top-section container">
        <div class="col1">
            <img src="../imgs/img-01.jpg" alt="building with graffiti" class="img-fluid about-img" />
        </div>
        <div class="col2">
            <h1>About mindFULL</h1>
            <p>mindFULL was created by a software engineer named Emily Armstrong, who is based in the Philadephia area. After years of working in both education and as an administrative professional in pediatric health care, Emily observed a lack of resources available to children and adolescents with regard to education and support of their mental health.</p>
            <p>Emily's software engineering journey coincided with the peak of the COVID-19 pandemic, which necessitated a transition to remote learning as the world came to a grinding halt. Teachers and students both struggled to cope with the unique demands of a fully-digital school environment, and the mental well-being of children and adolescents crumbled.</p>
            <p>Students today, both pre and post-pandemic, spend the majority of their school day online. Assignments are tracked and hosted by Learning Management Systems like Google Classroom, Schoology, Blackboard, and many more. mindFULL was built utilizing the JavaScript MERN stack to integrate with these existing LMS as supplemental technology to provide students with streamlined access to resources and support with regard to their mental health, and the ability to log and assess their mental health daily.</p>
            
        </div>
        
    </div>
    </main>
<%- include('partials/footer') -%>