<%- include('partials/header') -%>

<main>

        <div class="top-section container">
            <div class="col1">
                <h1>What is<br>mindFULL?</h1>
                    <p>COVID-19 brought mental health to center stage, with <a href="https://www.cdc.gov/media/releases/2022/p0331-youth-mental-health-covid-19.html">more than a third (37%) of high school students </a>reporting they experienced poor mental health during the pandemic, and 44% reporting they persistently felt sad or hopeless.</p>
                    <p>Students are already online for the majority of their school day, utilizing Learning Management Systems such as Google Classroom, Schoology, Blackboard, and many more.</p>
                    <p>mindFULL is a platform designed as supplemental technology for those existing LMS to provide students with streamlined access to mental health resources, the ability to self-assess their current state, and the option to communicate directly with their school counselor.</p>
                <a class="btn btn-primary" href="/signup">Sign Up Now</a>
            </div>
            <div class="col2">
                <img src="../imgs/open-doodles-meditating.svg" alt="Meditating girl" class="img-fluid" />
            </div>
        </div>   

            <div class="row features container">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Daily Check-In Logs</h5>
                            <img src="../imgs/open-doodles-loving.svg" alt="boy in heart shirt">
                            <p class="card-text">Students have the opportunity to self-assess and log their current mental state.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mental Health Resources</h5>
                            <img src="../imgs/open-doodles-reading-side.svg" alt="girl reading">
                            <p class="card-text">School counselors have a space to publish resources for their students to reference.</p>
                        </div>
                    </div>
                </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Counselor Messaging</h5>
                        <img src="../imgs/open-doodles-laying.svg" alt="girl texting">
                        <p class="card-text">This feature is coming soon - students will be able to communicate directly with their school counselor to receive help and schedule appointments.</p>
                    </div>
                </div>
            </div>
        </div>
</main>
    

<%- include('partials/footer') -%>