<%- include('partials/header') -%>

 <div class="container signup">
        <h1>Reset Password</h1>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el=> { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>
        <% } %>
            <form class="formstyle" method="POST">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/login" class="btn btn-primary return">Return to Log In</a>
    </div>

<%- include('partials/footer') -%>