<%- include('partials/header') -%>

  <div class="container signup">
        <h1>Reset Password</h1>
        <div>Enter your email below and click submit to receive a password reset link to the email on file.</div>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>
        <% } %>
                        <form class="formstyle" action="/recover" method="POST">
                            <input type="email" name="email" placeholder="Email">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                                <a href="/login" class="btn btn-primary return">Return to Log In</a>

    </div>

<%- include('partials/footer') -%>