<%- include('partials/header') -%>
<main>
<h1 class="mt-5 ms-5">Mental Health Resources</h1>
<p class="ms-5">Check out the resources from your school counselor below:</p>
<div class="mt-5 priors">
        <% for(let i=0; i<resources.length; i++) {%>
            <ul class="resources-list">
              <% resources.reverse().forEach((resource)=> { %>
                <li class="prior-checkins">
                  <a href="/resource/<%=resource._id%>" class="text-decoration-none text-reset">
                  <h2><b><%= resource.title %></b></h2>
                  <p>Click to read more...</p>
                  </a>
                </li>
              <% }) }%>
            </ul>
          </div>
</main>
<%- include('partials/footer') -%>