<%- include('partials/header') -%>
<main class="container">
    <div>
      <h2><%= resource.title %></h2>
      <p><%= resource.caption %></p>
    </div>
    <div class="col-6 mt-5">
      <% if(user.isAdmin === true){ %>
      <a class="btn btn-primary mb-2" href="/resource/resource-dashboard">Return to Resource Dashboard</a>
      <a class="btn btn-primary mb-2" href="/resources">Return to Resources Feed</a>
      <% }else{ %>
      <a class="btn btn-primary mb-2" href="/dashboard">Return to Dashboard</a>
      <a class="btn btn-primary mb-2" href="/resources">Return to Resources Feed</a>
        <% } %> 
    </div>
  </div>
</main>

<%- include('partials/footer') -%>