<%- include('partials/header') -%>
<main>
    <div class="container resources">
        <img src="../imgs/open-doodles-clumsy.svg" alt="open doodles clumsy">
        <h2>This page is coming soon! Check back in a few.</h2>
    </div>
</main>
<%- include('partials/footer') -%>