main{
    min-height: 62.25vh;
}

.navbar{
    background-color: #34568c;
    margin-bottom: 2rem;
}
.top-section{
    display: flex;
    flex-direction: row;
}
.col1, .col2{
    width: 50%;
    padding: 1rem;
}
.col1 p{
    font-size: 1rem;
}
.col1 h2{
    font-size: 1.25rem;
}
@media screen and (max-width:48.125rem){
    .top-section {
            display: flex;
            flex-direction: column;
        }
        .col1, .col2{
            width: 75%;
            margin: 0 auto;
    }
}
.features{
    margin: 2rem auto;
}
.features img{
    max-width: 15.625rem;
    max-height: 17.1875rem;
    margin: 0 auto;
}
.features p{
    font-size: .8rem;
}

.card{
    height: 32vh;
}
.card-body{
    text-align: center;
}
.card-body p{
    padding-top: 0.5rem;
}

.footer{
    background-color: #34568c;
}
.footer p{
    margin-bottom: 0;
}

.return{
    margin-top: 1rem;
}
.resources{
    text-align: center;
}
.resources img{
    max-width: 37.5rem;
    max-height: 37.5rem;
}

.login h2, .signup h2{
    text-align: center;
}

.login a{
    margin: 2rem 0;
}

.login, .signup{
    box-shadow: rgba(50, 50, 93, 0.25) 0 .125rem .3125rem -.0625rem rgba(0, 0, 0, 0.3) 0 .0625rem .1875rem -.0625rem;
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
}

.user-info{
    padding: 2rem;
}

.checkin-form{
    margin: 1rem 10rem;
    padding: 1rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 .375rem .75rem -.125rem, rgba(0, 0, 0, 0.3) 0 .1875rem .4375rem -.1875rem;
}

.checkin-form h2{
    text-align: center;
}

.checkin-form label{
    font-weight: 500;
    margin-top: .5rem;
}

.checkin-form option{
    font-size: .875rem;
}

.priors h3{
    padding: .5rem 1rem;
}

.priors ul{
    list-style:none;
}

.prior-checkins{
    margin: 3rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 .0625rem .1875rem 0, rgba(27, 31, 35, 0.15) 0 0 0 .0625rem;
}

/* 
==========
ABOUT
==========
*/

.about-img {
    box-shadow: rgba(149, 157, 165, 0.2) 0 .5rem .66667rem;
    border-radius: .3125rem;
}

